<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ZWGCD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>722430201D5C156A00D2B067</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>722430391D5C156B00D2B067</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>722430441D5C156B00D2B067</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
